@import '../../styles/variables';

.menu {
  min-height: 10rem;
  background: linear-gradient(to right,$color-rich-black, $color-baby-powder);
  margin: 0;
  padding: 0;
  color: $color-baby-powder;

  menu {
    padding: 0;
    
    h1 {
      letter-spacing: 2px;
      padding-top: 9%;
      padding-bottom: 1rem;
    }
  }
}
